.video-card {
  position: relative;
  width: 33rem;
  height: 31rem;
  cursor: pointer;
  border-radius: 0.25rem;
  transform: scale(1);
  color: var(--black-color);
  box-shadow: 0 1.95px 2.6px rgb(0 0 0 / 15%);
  transition: transform 0.2s ease-in-out;
}

.video-card > * {
  flex: 1;
}

.video-card:hover {
  transform: scale(1.1);
  z-index: 2;
}

.video-card-header {
  position: relative;
  flex-basis: 40%;
}

.video-card-thumbnail {
  width: 100%;
  height: 100%;
}

.video-card-thumbnail img {
  height: 100%;
  width: 100%;
}

.video-time {
  position: absolute;
  bottom: 1rem;
  left: 0.5rem;
  background: rgba(0, 0, 0, 0.8);
  padding: 0.5rem;
  color: var(--secondary-color);
  font-size: var(--font-size-7);
}

.video-card-body {
  width: 100%;
  padding: 1rem;
  display: flex;
  overflow: hidden;
}

.video-card-icon {
  align-self: center;
}

.video-card-icon img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  object-fit: cover;
}

.video-card-text {
  padding-left: 1rem;
  overflow: hidden;
  width: 100%;
  margin: auto;
}

.video-description-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: var(--font-size-5);
  margin-top: 0.5rem;
}

.video-stats {
  display: flex;
  font-size: var(--font-size-8);
  font-weight: var(--font-weight-3);
}

.video-card-title {
  font-size: var(--font-size-6);
  color: var(--black-color);
}

.video-channel-name {
  font-size: var(--font-size-6);
  margin: 0.8rem 0;
}

.video-stats-dot::before {
  content: "•";
  margin: 0 0.5rem;
}

.video-actions {
  width: 0.5rem;
  margin: 0.5rem;
}

/* VIDEO ACTIONS MENU */

.video-actions-menu-button-wrapper {
  border-radius: 50%;
}

.video-menu-button {
  padding: 0 0.2rem;
}

.menu-icon {
  font-size: var(--font-size-6);
}

.video-actions-menu {
  transform: scale(0);
  color: var(--primary-color);
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  font-size: var(--font-size-6);
  border-radius: 0.25rem;
  transform-origin: top right;
  transition: transform 0.2s ease-in;
}

.video-actions-item {
  display: flex;
  background: var(--secondary-color);
  width: 18rem;
  padding: 0.3rem;
  transition: all 0.3s ease;
}

.video-actions-item:hover {
  background: var(--primary-color);
  color: var(--secondary-color);
}

.video-actions-icon {
  margin-right: 1rem;
}

.video-card-listing-container {
  margin: 1.5rem 0;
  display: flex;
  gap: 2rem;
  height: 35rem;
}

/* MEDIA QUERIES */
@media (max-width: 540px) {
  .video-card {
    width: 80%;
    margin-bottom: 2rem;
  }

  .video-card-listing-container {
    flex-direction: column;
    align-items: center;
    margin-bottom: 7rem;
    gap: 0.5rem;
    height: 100%;
  }
}
