.category-card {
  position: relative;
  width: 32rem;
  border-radius: 0.25rem;
  box-shadow: 0 1.95px 2.6px rgb(0 0 0 / 15%);
  transition: transform 0.2s ease-in-out;
}

.category-img {
  width: 100%;
  height: 20rem;
  object-fit: cover;
}

.category-overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  display: grid;
  place-items: center;
  width: 100%;
  height: 99%;
  top: 0;
  right: 0;
  bottom: 0;
  color: var(--secondary-color);
  font-size: var(--font-size-4);
  z-index: 2;
}

.category-overlay-text {
  position: relative;
  cursor: pointer;
  color: var(--secondary-color);
}

.category-overlay-text::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.2rem;
  bottom: -0.5rem;
  background: var(--secondary-color);
  transform: scale(0);
  transition: transform 0.2s ease-in;
}

.category-overlay-text:hover::before {
  transform: scale(1);
}

.category-btn {
  color: var(--secondary-color);
  font-size: var(--font-size-5);
  white-space: nowrap;
}

/* MEDIA QUERIES */
@media (max-width: 540px) {
  .category-card {
    width: 35rem;
  }
}
