.navbar {
  margin: auto;
  max-width: 1300px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  min-height: 10vh;
}

.nav-title {
  font-size: 2rem;
  font-weight: 900;
  color: var(--primary-color);
}

.nav-search {
  position: relative;
  display: flex;
  padding: 0.5rem;
  border: 0.1rem solid var(--lynx-gray-color);
  border-radius: 30px;
  width: 40%;
}

.nav-search input {
  border: none;
  width: 100%;
}

.nav-search button {
  font-size: 1.5rem;
  margin: 0 0.5rem;
}

.nav-search:focus {
  outline: none;
}

.nav-items {
  display: flex;
}

.nav-item {
  padding: 1rem;
}

.nav-link {
  position: relative;
  text-decoration: none;
  font-size: 1.8rem;
  color: var(--lynx-gray-color);
}

.nav-link:hover {
  color: var(--primary-color);
}

.nav-item .btn {
  margin: 0;
}

.nav-user-name {
  padding: 0.5rem;
  font-weight: var(--font-weight-3);
}

/* SEARCH */

.search-results {
  position: absolute;
  width: 100%;
  border-radius: 5px;
  top: 4rem;
  background: var(--secondary-color);
  box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.2);
  z-index: 4;
  text-align: center;
  padding: 0 1rem;
  padding-top: 1rem;
  padding-bottom: 0;
  max-height: 20rem;
  overflow: scroll;
}
.search-input {
  margin-left: 0.5rem;
  font-size: var(--font-size-6);
  outline: none;
}

.searched-video {
  font-size: var(--font-size-5);
  border-radius: 10px;
  cursor: pointer;
  padding: 0.5rem;
  margin: 0.5rem 0;
  border-bottom: 2px solid var(--lynx-gray-color);
}

.searched-video:hover {
  background: var(--primary-color);
  color: var(--secondary-color);
}

.not-found-text {
  font-size: var(--font-size-5);
}

/* BADGES */

.numeric-badge {
  position: absolute;
  color: var(--secondary-color);
  font-size: var(--font-size-8);
  padding: 0.2em;
  border-radius: 50%;
  width: 2rem;
  top: -1em;
  left: 1em;
  text-align: center;
}

.numeric-badge.hide {
  display: none;
}

.numeric-badge.display {
  display: block;
}

/* MEDIA QUERIES */
@media (max-width: 540px) {
  html {
    font-size: 55%;
  }

  .nav-user-name {
    display: none;
  }

  .nav-search {
    position: absolute;
    top: 7rem;
    width: 90%;
    z-index: 4;
    border: 1px solid var(--lynx-gray-color);
  }

  .nav-item {
    padding: 0.5rem;
  }
}
